<div id="col-left">
	<h1 class="h-text-1">Welcome</h1>
	<p class="text-1">
		<strong>Space Hotel</strong> is a sample application used in training classes and should not be mistaken for a real hotel in space, however cool that would be.
	</p>
	<p class="text-1">
		In each case, our luxury hotel provides dramatic viewing of the planet that it orbits. 
	</p>
	<%= form_tag url_for(:controller => 'index', :action => 'search'), :remote => true, :class => "searchbox", :id => 'searchbox' %>
		<label>
			Destination
			<select name="planet">
				<option value="none">Pick a destination</option>
				<optgroup label="Planets">
					<option value="mercury">Mercury</option>
					<option value="mars">Mars</option>
					<option value="venus">Venus</option>
					<option value="earth">Earth</option>
					<option value="mars">Mars</option>
					<option value="jupiter">Jupiter</option>
					<option value="saturn">Saturn</option>
					<option value="uranus">Uranus</option>
					<option value="neptune">Neptune</option>
				</optgroup>
				<optgroup label="Other destinations">
					<option value="pluto">Pluto</option>
					<option value="kuiper_belt">Kuiper Belt</option>
					<option value="oort_cloud">Oort Cloud</option>
				</optgroup>
			</select>
		</label>
		<label>
			From:
			<input type="date" name="from_date" />
		</label>
		<label>
			To:
			<input type="date" name="to_date" />
		</label>
		<div class="button_bar">
			<button type="submit">Search now</button>
		</div>
	</form>
	<div id="search_results_container" style="padding: 1em;">
	</div>

	<script type='text/javascript'> 
		$('#searchbox').bind('ajax:success', function(evt, data, status, xhr){
    		$('#search_results_container').html(xhr.responseText);
  		});
	</script>
</div>
<div id="col-right">
	<% if controller.logged_in? %>
	<div style="padding: 30px 10px 10px;">
		<h2 class="h-text-2">Hot Deals</h2>
		Based on your past purchase history, we believe you would be interested in these events.
		<h3 class="h-text-3">Solar sailing</h3>
		<p class="text-2">Solar sail race from Mercury to Pluto. This multi-month event offers dramatic viewing of the race from 6 different hotels</p>
		<h3 class="h-text-3">Martian Olympics</h3>
		<p class="text-2">Martian Olympics being held this year in the city of Northport</p>
		<h3 class="h-text-3">Spa's of Neptune</h3>
		<p class="text-2">Relax in the newly refreshed Spa's of Neptune with 50% off the regular price if you book in the next two days</p>
	</div>
	<div>&nbsp;</div>
	<% end %>
	<div style="padding: 5px 10px;">
		<h2 class="h-text-2">Contact Info</h2>
	</div>
	<div
	 style="padding: 5px 10px 15px; background: rgb(216, 214, 215) none repeat scroll 0%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial;">
		<p class="text-2"> 00/00 Lorem Ipsum is simply dummy text of the
		printing and typesetting.<br>
		<br>
		E.mail: abc@Lorem Ipsum<br>
		<br>
		Fax: 000.000.0000<br>
		<br>
		Phone: 000.000.0000/<br>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		000.000.0000 
		<br />
		<%= @shared_session.title %></p>

	</div>
</div>
