<div id="col-left">
<h1 class="h-text-1">WELCOME</h1>
<p class="text-1"><strong>Space Hotel</strong> is a sample application
used in training classes and should not be mistaken for a real
hotel in space, however cool that would be.</p>
<form class="searchbox">
	Destination
	<select>
		<optgroup label="Planets">
			<option>Mercury</option>
			<option>Mars</option>
			<option>Venus</option>
			<option>Earth</option>
			<option>Mars</option>
			<option>Jupiter</option>
			<option>Saturn</option>
			<option>Uranus</option>
			<option>Neptune</option>
		</optgroup>
		<optgroup label="Other destinations">
			<option>Pluto</option>
			<option>Kuiper Belt</option>
			<option>Oort Cloud</option>
		</optgroup>
	</select>
	<div class="button_bar">
		<button type="submit">Search</button>
	</div>
</form>
<ul class="list-1">
  <li>Lorem Ipsum as their default model text</li>
  <li>There are many variations of passages</li>
  <li>Contrary to popular belief, Lorem Ipsum is not</li>
  <li>Many desktop publishing packages and web page</li>
  <li>There are many variations of passages</li>
</ul>
<p class="text-1">Lorem Ipsum is simply dummy text of the printing and
typesetting industry. Lorem Ipsum has been the industry's standard
dummy text ever since the 1500s, when an unknown printer took a galley
of type and scrambled it to make a type specimen book. It has survived
not only five centuries, but also the leap into electronic typesetting,
remaining essentially unchanged. It was popularised in the 1960s with
the release of Letraset sheets containing Lorem Ipsum passages,</p>
<p class="border-1">&nbsp;</p>
<h2 class="h-text-2">About us</h2>
<p class="text-1">There are many variations of passages of Lorem Ipsum
available, but the majority have suffered alteration in some form, by
injected humour, or randomised words which don't look even slightly
believable. If you are going to use a passage of Lorem Ipsum, you need
to be sure there isn't anything embarrassing hidden. There are many
variations of passages of Lorem Ipsum available, but the majority have
suffered.</p>
<p class="text-1">All the Lorem Ipsum generators on the Internet tend
to repeat predefined chunks as necessary, making this the first true
generator on the Internet. It uses a dictionary of over 200 Latin
words, combined with a handful of model sentence structures, to
generate Lorem Ipsum which looks reasonable. </p>
</div>
<div id="col-right">
<div style="padding: 30px 10px 10px;">
<h2 class="h-text-2">Recommendations</h2>
Based on your past purchase history, we believe you would be interested in these events.
<h3 class="h-text-3">Solar sailing</h3>
<p class="text-2">Solar sail race from Mercury to Pluto. This multi-month event offers dramatic viewing of the race from 6 different hotels</p>
<h3 class="h-text-3">Martian Olympics</h3>
<p class="text-2">Martian Olympics being held this year in the city of XX</p>
<h3 class="h-text-3">Spa's of Neptune</h3>
<p class="text-2">Relax in the newly refreshed Spa's of Neptune with 50% off the regular price if you book in the next two days</p>
</div>
<div>&nbsp;</div>
<div style="padding: 5px 10px;">
<h2 class="h-text-2">Contact Info</h2>
</div>
<div
 style="padding: 5px 10px 15px; background: rgb(216, 214, 215) none repeat scroll 0%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial;">
<p class="text-2"> 00/00 Lorem Ipsum is simply dummy text of the
printing and typesetting.<br>
<br>
E.mail: abc@Lorem Ipsum<br>
<br>
Fax: 000.000.0000<br>
<br>
Phone: 000.000.0000/<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
000.000.0000 </p>
</div>
</div>
