<%= form_tag :controller => 'index', :action => 'login' %>
<div style="padding-left: 1em;">
	<p>
		User ID:<br /><input type="text" name="userid" id="userid" />
	</p>
	<p>
		Password:<br /><input type="password" name="password" id="password" />
	</p>
	<p>
		<button type="submit">Sign in</button>
	</p>
</div>
</form>
