<h1>Results for <%= @planet %></h1>

<table style="text-align: left;">
	<tr>
		<th>Description</th>
		<th>Dollar cost</th>
		<th>Points cost</th>
	</tr>
	<tr>
		<td>Entry level room</td>
		<td>$50</td>
		<td>5000</td>
	</tr>
	<tr>
		<td>Business traveller</td>
		<td>$250</td>
		<td>25000</td>
	</tr>
	<tr>
		<td>King suite</td>
		<td>$850</td>
		<td>80000</td>
	</tr>
</table>