<!DOCTYPE html>
<html>
<head>
  <title>SpaceHotel</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href="css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="container">
<div id="header"> <img src="images/logo.jpg" alt="" id="logo">
<h1 id="logo-text">Space Hotel</h1>
</div>
<div id="nav">
<ul>
  <li><a href="#">Home</a></li>
  <li><a href="#">About&nbsp;us</a></li>
  <li><a href="#">Recent&nbsp;articles</a></li>
  <li><a href="#">Email</a></li>
  <li><a href="#">Resources</a></li>
  <li style="border-right: medium none;"><a href="#">Links</a></li>
</ul>
</div>

<div id="site-content">
<%= yield %>
</div>

<div id="footer">
<!--DO NOT Remove The Footer Links-->
<!--Designed by--><a href="http://www.htmltemplates.net">
<img src="images/footnote.gif" class="copyright" alt="html templates"></a>
<p>&copy; Copyright 2014. Designed by <a target="_blank"
 href="http://www.htmltemplates.net">htmltemplates.net</a>
<!--DO NOT Remove The Footer Links-->
</p>
<ul class="footer-nav">
  <li><a href="#">Home</a></li>
  <li><a href="#">About us</a></li>
  <li><a href="#">Recent articles</a></li>
  <li><a href="#">Email</a></li>
  <li><a href="#">Resources</a></li>
  <li><a href="#">Links</a></li>
</ul>
</div>
</div>
</body>
</html>
